asgiref==3.2.10
boto3==1.14.13
botocore==1.17.13
Django==3.0.7
docutils==0.15.2
flake8==3.8.3
importlib-metadata==1.7.0
jmespath==0.10.0
mccabe==0.6.1
pycodestyle==2.6.0
pyflakes==2.2.0
python-dateutil==2.8.1
python-dotenv==0.13.0
pytz==2020.1
s3transfer==0.3.3
six==1.15.0
sqlparse==0.3.1
urllib3==1.25.9
zipp==3.1.0
