<!doctype html>
<html>
  <head>
    <title>TempDrop</title>
    <script type='text/javascript'>
      function uploadFile(form) {
        const formData = new FormData(form)
        const fileField = form.querySelector('input[type="file"]');
        formData.append('uploaded_file', fileField.files[0])
        fetch('/api/file/', {method: 'POST', body: formData})
          .then(response => {
            response.json().then(json => {
              const success_element = document.querySelector('#success_text')
              success_element.innerHTML = `<h2>Here is your share link: <a href='http://localhost:8000/share/${json.share_id}'>Share Link</a></h2>`
            })
          })
        return false;
      }
    </script>
  </head>
  <body>
    <form onsubmit='return uploadFile(this)''>
      <label for='myfile'>Select a file:</label>
      <input type='file'><br><br>
      <input type='submit'>
    </form>
    <span id='success_text'></span>
  </body>
</html>
