<!doctype html>
<html>
  <head>
    <title>
      <title>TempDrop</title>
      <script type='text/javascript'>
        const onDownload = (url) => window.location = url
      </script>
    </title>
  </head>
  <body>
    <button onclick='onDownload("{% url 'get_file' share_id=share_id %}")'>Download</button>
  </body>
</html>
